<button id="detailed-controls" mat-mini-fab color="primary" class="mat-elevation-z4"
        (click)="isOpen$.next(!isOpen$.value)" [innerText]="isOpen$.value ? '⫷' : '🛠'"
        xmlns="http://www.w3.org/1999/html">
</button>
<button mat-mini-fab color="accent" matPrefix
        (click)="seedControl.setValue(randomString())">🎲
</button>
<button class="renew" mat-icon-button color="primary" matSuffix
        *ngIf="particleGroup.groups.length > 0"
        (click)="restoreState()">
  <mat-icon>autorenew</mat-icon>
</button>
<section [@openClose]="!isOpen$.value ? 'closed' : 'open'">
  <div>
    <mat-chip-list [selectable]="false" *ngFor="let g1 of particleGroup.groups; let i = index">
      <mat-chip selected [style.background-color]="g1.colorStr">
      <span matTooltip="Количество" class="wheelable"
            (wheel)="addParticles(g1, $event.deltaY * ($event.shiftKey ? .01 : .1))">
        {{g1.items.length}}
      </span>&nbsp;&nbsp;
        <span matTooltip="Размер" class="wheelable"
              (wheel)="increaseRadius(g1, $event.deltaY * ($event.shiftKey ? .001 : .01))">
          {{g1.particleRadius | number}}
        </span>
      </mat-chip>
      &nbsp;&nbsp;
      <mat-chip selected *ngFor="let g2 of particleGroup.groups; let j = index"
                [style.background-color]="g2.colorStr">
      <span matTooltip="Сила притяжения" class="wheelable"
            (wheel)="increaseAttitude(g1, j, $event.deltaY * ($event.shiftKey ? .000001 : .0001))">
        {{g1.forces[j] | number}}
      </span>
        &nbsp;&nbsp;
        <span matTooltip="Радиус взаимодействия" class="wheelable"
              (wheel)="increaseRange(g1, j, $event.deltaY * ($event.shiftKey ? .01 : .1))">
        {{g1.ranges[j] | number}}
      </span>
      </mat-chip>
      <button mat-mini-fab color="warn" (click)="removeGroup(g1)" matTooltip="Удалить группу">
        <mat-icon>close</mat-icon>
      </button>
    </mat-chip-list>
  </div>
  <footer>
    <button id="add" mat-mini-fab color="primary"
            (click)="addDefaultGroup()"
            [style.background-color]="particleGroup.getColorString(particleGroup.groups.length)"
            class="mat-elevation-z4">
      <mat-icon>add</mat-icon>
    </button>
    <!--<mat-label>
      <mat-slider matTooltip="Трение" [vertical]="true"  matTooltipPosition="below" aria-label="Трение"
                  [min]="0" [max]="1" [step]=".0001" [value]="particleGroup.dampening"
                  (input)="particleGroup.dampening = $event.value || 0"></mat-slider>
      {{particleGroup.dampening | number}}
    </mat-label>
    <mat-label>
      <mat-slider matTooltip="∆t (/1000)" matTooltipPosition="below" aria-label="Шаг"
                  [min]="0" [max]="0.0063" [step]="0.00001" [value]="particleGroup.dt"
                  (input)="particleGroup.dt = $event.value || 0"></mat-slider>
      {{particleGroup.dt*1000 | number}}
    </mat-label>-->
    <button id="clear" mat-mini-fab color="warn" class="mat-elevation-z4"
            *ngIf="particleGroup.groups.length > 0"
            (click)="particleGroup.clear()">🧹
    </button>
  </footer>
</section>
<app-stats *ngIf="stats$ | async as stats" [stats]="stats"></app-stats>
